*{
    margin:0;
}

.problemTypeText{
    font-weight: bold;
    font-size:28px;
    margin-bottom: 10px;
}

.problemBox{
    width:200px;
    height:66px;
    background-color: pink;
    margin:10px;
    display: inline-block;
    text-align: center;
}